<div class="albums">
  <div class="cards">
    <div class="card">
      <button><i class="fas fa-play"></i></button>
      <img src="/public/img/img1.jpg" alt="">
      <h5>Album</h5>
      <p>Album Artist</p>
    </div>
    <div class="card">
      <button><i class="fas fa-play"></i></button>
      <img src="/public/img/img1.jpg" alt="">
      <h5>Album</h5>
      <p>Album Artist</p>
    </div>
    <div class="card">
      <button><i class="fas fa-play"></i></button>
      <img src="/public/img/img1.jpg" alt="">
      <h5>Album</h5>
      <p>Album Artist</p>
    </div>
    <div class="card">
      <button><i class="fas fa-play"></i></button>
      <img src="/public/img/img1.jpg" alt="">
      <h5>Album</h5>
      <p>Album Artist</p>
    </div>
    <div class="card">
      <button><i class="fas fa-play"></i></button>
      <img src="/public/img/img1.jpg" alt="">
      <h5>Album</h5>
      <p>Album Artist</p>
    </div>
    <div class="card">
      <button><i class="fas fa-play"></i></button>
      <img src="/public/img/img1.jpg" alt="">
      <h5>Album</h5>
      <p>Album Artist</p>
    </div>
    <div class="card">
      <button><i class="fas fa-play"></i></button>
      <img src="/public/img/img1.jpg" alt="">
      <h5>Album</h5>
      <p>Album Artist</p>
    </div>
    <div class="card">
      <button><i class="fas fa-play"></i></button>
      <img src="/public/img/img1.jpg" alt="">
      <h5>Album</h5>
      <p>Album Artist</p>
    </div>
    <div class="card">
      <button><i class="fas fa-play"></i></button>
      <img src="/public/img/img1.jpg" alt="">
      <h5>Album</h5>
      <p>Album Artist</p>
    </div>
    <div class="card">
      <button><i class="fas fa-play"></i></button>
      <img src="/public/img/img1.jpg" alt="">
      <h5>Album</h5>
      <p>Album Artist</p>
    </div>
    <div class="card">
      <button><i class="fas fa-play"></i></button>
      <img src="/public/img/img1.jpg" alt="">
      <h5>Album</h5>
      <p>Album Artist</p>
    </div>
    <div class="card">
      <button><i class="fas fa-play"></i></button>
      <img src="/public/img/img1.jpg" alt="">
      <h5>Album</h5>
      <p>Album Artist</p>
    </div>
    <div class="card">
      <button><i class="fas fa-play"></i></button>
      <img src="/public/img/img1.jpg" alt="">
      <h5>Album</h5>
      <p>Album Artist</p>
    </div>
    <div class="card">
      <button><i class="fas fa-play"></i></button>
      <img src="/public/img/img1.jpg" alt="">
      <h5>Album</h5>
      <p>Album Artist</p>
    </div>
    <div class="card">
      <button><i class="fas fa-play"></i></button>
      <img src="/public/img/img1.jpg" alt="">
      <h5>Album</h5>
      <p>Album Artist</p>
    </div>
    <div class="card">
      <button><i class="fas fa-play"></i></button>
      <img src="/public/img/img1.jpg" alt="">
      <h5>Album</h5>
      <p>Album Artist</p>
    </div>
    <div class="card">
      <button><i class="fas fa-play"></i></button>
      <img src="/public/img/img1.jpg" alt="">
      <h5>Album</h5>
      <p>Album Artist</p>
    </div>
    <div class="card">
      <button><i class="fas fa-play"></i></button>
      <img src="/public/img/img1.jpg" alt="">
      <h5>Album</h5>
      <p>Album Artist</p>
    </div>
    <div class="card">
      <button><i class="fas fa-play"></i></button>
      <img src="/public/img/img1.jpg" alt="">
      <h5>Album</h5>
      <p>Album Artist</p>
    </div>
    <div class="card">
      <button><i class="fas fa-play"></i></button>
      <img src="/public/img/img1.jpg" alt="">
      <h5>Album</h5>
      <p>Album Artist</p>
    </div>
    <div class="card">
      <button><i class="fas fa-play"></i></button>
      <img src="/public/img/img1.jpg" alt="">
      <h5>Album</h5>
      <p>Album Artist</p>
    </div>
    <div class="card">
      <button><i class="fas fa-play"></i></button>
      <img src="/public/img/img1.jpg" alt="">
      <h5>Album</h5>
      <p>Album Artist</p>
    </div>
    <div class="card">
      <button><i class="fas fa-play"></i></button>
      <img src="/public/img/img1.jpg" alt="">
      <h5>Album</h5>
      <p>Album Artist</p>
    </div>
    <div class="card">
      <button><i class="fas fa-play"></i></button>
      <img src="/public/img/img1.jpg" alt="">
      <h5>Album</h5>
      <p>Album Artist</p>
    </div>
    <div class="card">
      <button><i class="fas fa-play"></i></button>
      <img src="/public/img/img1.jpg" alt="">
      <h5>Album</h5>
      <p>Album Artist</p>
    </div>
    <div class="card">
      <button><i class="fas fa-play"></i></button>
      <img src="/public/img/img1.jpg" alt="">
      <h5>Album</h5>
      <p>Album Artist</p>
    </div>
    <div class="card">
      <button><i class="fas fa-play"></i></button>
      <img src="/public/img/img1.jpg" alt="">
      <h5>Album</h5>
      <p>Album Artist</p>
    </div>
    <div class="card">
      <button><i class="fas fa-play"></i></button>
      <img src="/public/img/img1.jpg" alt="">
      <h5>Album</h5>
      <p>Album Artist</p>
    </div>
    <div class="card">
      <button><i class="fas fa-play"></i></button>
      <img src="/public/img/img1.jpg" alt="">
      <h5>Album</h5>
      <p>Album Artist</p>
    </div>
    <div class="card">
      <button><i class="fas fa-play"></i></button>
      <img src="/public/img/img1.jpg" alt="">
      <h5>Album</h5>
      <p>Album Artist</p>
    </div>
    <div class="card">
      <button><i class="fas fa-play"></i></button>
      <img src="/public/img/img1.jpg" alt="">
      <h5>Album</h5>
      <p>Album Artist</p>
    </div>
    <div class="card">
      <button><i class="fas fa-play"></i></button>
      <img src="/public/img/img1.jpg" alt="">
      <h5>Album</h5>
      <p>Album Artist</p>
    </div>
  </div>
</div>