<div class="cards">
  <div class="artists">
    <ul>
      <li><i class="fas fa-microphone fa-2x title-mic"></i><span>All Artists</span></li>
      <a href="" id="title">
        <i class="fas fa-music song-img"></i>
        <li><span>Individual Artist</span></li>
      </a>
      <a href="" id="title">
        <i class="fas fa-music song-img"></i>
        <li><span>Individual Artist</span></li>
      </a>
      <a href="" id="title">
        <i class="fas fa-music song-img"></i>
        <li><span>Individual Artist</span></li>
      </a>
      <a href="" id="title">
        <i class="fas fa-music song-img"></i>
        <li><span>Individual Artist</span></li>
      </a>
      <a href="" id="title">
        <i class="fas fa-music song-img"></i>
        <li><span>Individual Artist</span></li>
      </a>

    </ul>
  </div>
  <div class="artists-songs">
    <div class="tiles">
      <div class="tile">
        <span>
          <h2>Artist name</h2>
          <i class="fas fa-ellipsis-h"></i>
        </span>
        <div class="tile-body">
          <div id="img-cont">
            <img src="/public/img/img1.jpg" alt="" class="tile-img">
            <button><i class="fas fa-play"></i></button>
          </div>
          <div class="song-details">
            <h3>Song Name</h3>
            <p>Genre <i class="fas fa-dot-circle"></i> Year</p>
            <div class="duration">
              <p>Song name</p>
              <p>00:00</p>
            </div>
          </div>
          <i class="fas fa-ellipsis-h"></i>
        </div>
      </div>
    </div>
  </div>
</div>