<div class="cards">
  <div class="artists">
    <ul>
      <a href="" id="title">
        <li><span>Afro Pop</span></li>
      </a>
      <a href="" id="title">
        <li><span>Afro Pop</span></li>
      </a>
      <a href="" id="title">
        <li><span>Afrobeats</span></li>
      </a>
      <a href="" id="title">
        <li><span>Dancehall</span></li>
      </a>
      <a href="" id="title">
        <li><span>Electronic</span></li>
      </a>
      <a href="" id="title">
        <li><span>Hip Hop</span></li>
      </a>
      <a href="" id="title">
        <li><span>Pop</span></li>
      </a>
      <a href="" id="title">
        <li><span>RnB</span></li>
      </a>
      <a href="" id="title">
        <li><span>Rock</span></li>
      </a>


    </ul>
  </div>
  <div class="artists-songs">
    <div class="tiles">
      <div class="tile">
        <span>
          <span>
            <h2>Genre name</h2>
            <small>1 Album, 2 songs</small>
          </span>
          <i class="fas fa-ellipsis-h"></i>
        </span>
        <div class="tile-body">
          <div id="img-cont">
            <img src="/public/img/img1.jpg" alt="" class="tile-img">
            <button><i class="fas fa-play"></i></button>
          </div>
          <div class="song-details">
            <h3>Album Name</h3>
            <p>Artist | Year</p>
            <div class="duration">
              <p>Song name</p>
              <p>00:00</p>
            </div>
            <div class="duration">
              <p>Song name</p>
              <p>00:00</p>
            </div>
          </div>
          <i class="fas fa-ellipsis-h"></i>
        </div>
      </div>
    </div>
  </div>
</div>