<div class="songs">
  <table>
    <tr>
      <th id="song-check"><i class="fas fa-check fa-fw"></i></th>
      <th id="song-title">Name <i class="fas fa-cloud"></i></th>
      <th id="song-duration">Time</th>
      <th id="song-artist">Artist</th>
      <th id="song-album">Album</th>
      <th id="song-genre">Genre</th>
      <th id="song-rating">Rating</th>
      <th id="song-favourite"><i class="fas fa-heart"></i></th>
      <th id="song-plays">Plays</th>
    </tr>
    <tr>
      <td><input type="checkbox" name="" id="" checked></td>
      <td>Song Name</td>
      <td>Duration</td>
      <td>Song Artist</td>
      <td>Album</td>
      <td>Song Genre</td>
      <td><i class="far fa-star"></i></td>
      <td><i class="far fa-heart"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><input type="checkbox" name="" id="" checked></td>
      <td>Song Name</td>
      <td>Duration</td>
      <td>Song Artist</td>
      <td>Album</td>
      <td>Song Genre</td>
      <td><i class="far fa-star"></i></td>
      <td><i class="far fa-heart"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><input type="checkbox" name="" id="" checked></td>
      <td>Song Name</td>
      <td>Duration</td>
      <td>Song Artist</td>
      <td>Album</td>
      <td>Song Genre</td>
      <td><i class="far fa-star"></i></td>
      <td><i class="far fa-heart"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><input type="checkbox" name="" id="" checked></td>
      <td>Song Name</td>
      <td>Duration</td>
      <td>Song Artist</td>
      <td>Album</td>
      <td>Song Genre</td>
      <td><i class="far fa-star"></i></td>
      <td><i class="far fa-heart"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><input type="checkbox" name="" id="" checked></td>
      <td>Song Name</td>
      <td>Duration</td>
      <td>Song Artist</td>
      <td>Album</td>
      <td>Song Genre</td>
      <td><i class="far fa-star"></i></td>
      <td><i class="far fa-heart"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><input type="checkbox" name="" id="" checked></td>
      <td>Song Name</td>
      <td>Duration</td>
      <td>Song Artist</td>
      <td>Album</td>
      <td>Song Genre</td>
      <td><i class="far fa-star"></i></td>
      <td><i class="far fa-heart"></i></td>
      <td></td>
    </tr>
  </table>
</div>